* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: openSans; }

header {
  position: relative;
  padding: 5em 0em 7em 0em;
  background: #111111 url(././img/apples.jpg) no-repeat center;
  background-size: cover; }

.some-wrap {
  width: 96%;
  max-width: 960px;
  min-height: 1100px; }

.header-logo {
  padding: 14px 16px;
  position: relative;
  overflow: hidden;
  float: left;
  margin-left: 15%;
  text-transform: uppercase;
  color: white; }

div .nav {
  margin-left: 15%; }

ul {
  list-style-type: none;
  overflow: hidden;
  position: relative;
  margin-right: 15%; }

li {
  float: right; }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; }
    li a:hover {
      transition: all .3s;
      text-decoration: underline; }

.title {
  color: white;
  text-align: center;
  vertical-align: center;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 3em;
  margin-bottom: 0; }

.origin {
  margin-top: 0;
  font-size: .4em;
  text-transform: none; }

button {
  width: 100px;
  height: 30px;
  border: white .5px solid;
  color: white;
  margin: 0px auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: block; }

.btn {
  margin-top: 10%; }

#tm {
  font-size: .5em; }

.amp {
  font-size: 3em; }

.sp-text {
  font-weight: bold; }

.wrapp-container {
  display: block;
  background: white;
  padding-bottom: 5%;
  padding-top: 5%; }

.container-top {
  display: block;
  width: 100%;
  margin: 0 auto; }

.left {
  line-height: 1.5em;
  font-size: 1.2em;
  display: inline-block;
  width: 49%;
  text-align: left;
  vertical-align: top; }

.right {
  display: inline-block;
  width: 49%; }

.gallery {
  background: #eee;
  display: inline-block;
  height: auto;
  width: 100%; }

.gallery-title {
  padding-top: 10em;
  padding-bottom: 80px;
  text-align: center;
  font-size: 1.2em; }

img {
  max-width: 100%;
  max-height: 100%; }

.img1 {
  width: 70%;
  float: left;
  padding-right: 15px; }

.img2 {
  width: 30%;
  float: right;
  padding-left: 15px; }

.img3 {
  width: 30%;
  float: left;
  padding-right: 15px; }

.img4 {
  width: 70%;
  float: right;
  padding-left: 15px; }

.image {
  height: 300px;
  background-size: cover;
  position: relative;
  background-position: center center;
  margin-bottom: 30px; }

.one-row {
  width: 100%;
  height: 300px;
  margin-bottom: 30px; }

.wrap-me-harder {
  width: 80%;
  margin: 0 auto; }

.subscribe {
  clear: both;
  background: #eee;
  margin-bottom: 5em; }

.subscribe-inner {
  background: white;
  width: 100%;
  height: 8em; }

#btn-subscribe {
  display: inline-block;
  margin: 0;
  height: 1.56em;
  margin-left: .47em; }

form {
  padding-top: 2.3em;
  text-align: center;
  font-size: 1.4em; }

.subscribe-position {
  display: inline-block; }

.bottom-title {
  text-align: center;
  font-weight: 700;
  font-size: 1.3em;
  margin: 5% 0%; }

.bottom-p {
  margin: 1%;
  color: grey; }

.col1, .col2, .col3, .col4 {
  margin: 0 auto;
  width: 20%;
  display: inline-block;
  margin-right: 3.1em;
  height: 10em;
  vertical-align: top;
  margin-top: 3em; }

#subs-bottom {
  padding: 0;
  margin: 0;
  display: inline-block; }

.bottom-input {
  display: inline-block;
  width: 60%;
  margin-top: 1.3em; }

.btn-bottom {
  display: inline-block;
  width: 37%;
  height: 1.7em;
  margin-left: -.5em; }

.ruben {
  display: inline-block; }

.bottom {
  color: grey;
  margin-top: 1.5em; }

.bottom-a {
  display: inline-block;
  color: black;
  margin-top: -2.4em;
  color: black; }

.nav > ul {
  margin-top: -2em;
  color: black; }
